#groupviews {
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    opacity: 1.0;
    font: 40px Arial, Helvetica, sans-serif;
    background-color: #6B718B;
    margin: 10px auto;
}

#transactions {
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    opacity: 1.0;
    font: 40px Arial, Helvetica, sans-serif;
    background-color: #6B718B;
    margin: 10px auto;
}

#members {
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    opacity: 1.0;
    font: 40px Arial, Helvetica, sans-serif;
    background-color: #6B718B;
    margin: 10px auto;
}

#member_field {
    width:100%;
}

h3 {
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.7;
    font: 20px Arial, Helvetica, sans-serif;
    background-color: #6B718B;
    margin: 10px auto;
}

table {
    border-collapse: collapse;
    font-family: Monaco;
    margin: 25px auto;
    border: 1px solid #eee;
    border-bottom: 2px solid lightslategrey;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05),
    0px 30px 20px rgba(0, 0, 0, 0.05);
}

th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

th {
    background: lightslategrey;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

tbody tr:hover {
    background: lightblue;
}

.btn-hover {
    position: absolute;
    width: 400px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 50px;
    text-align: center;
    border: none;
    background-size: 200% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color {
    right: 150px;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn-hover.left {
    left: 150px;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}